body {
    display: flex;    
}

.options {
    display: flex;
    flex-direction: column;
}

.slider-container {
    width: 100%;
}

.slider {
    width: 100%;
    height: 40px;
    background: gray;
    outline: none;
}

.style-options {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

button {
    margin: 30px;
}

#grid {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
}

.boxClear {
    border: .5px dotted black;
    color: red;
    text-align: center;
}

.active {
    color: white;
    background: black;
}